.main-container {
    height: 100vh;
    background-color: hsl(0, 0%, 86%);
    padding: 10%;
}

.age-card-container {
    width: 60%;
    height: 60%;
    border: 2px, solid, white;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px 10px 100px 10px;
    padding: 30px;

}

.upper-container {
    display: flex;
    margin-bottom: 30px;
    height: 10%;
}

input[type=number] {
    width: 50%;
    height: 80%;
}

.middle-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 5%;
}
hr {
    width: 100%;
    height: 0%;
    margin: 0;
}

img {
    background-color: black;
    border-radius: 50%;
    margin: 0;
}



.years {
color: hsl(259, 100%, 65%);
font-size: 60px;
font-weight: bold;
}

.months {
color: hsl(259, 100%, 65%);
font-size: 60px;
font-weight: bold;
}

.days {
color: hsl(259, 100%, 65%);
font-size: 60px;
font-weight: bold;
}

p {
font-size: 58px;
font-weight: bold;
margin: 0;
}

